@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

body {
  margin: 0;
  padding: 1rem;
  font-family: "League Spartan", sans-serif;
  background: #0f0e0e;
  color: white;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.card {
  background: #1f1f1f;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 1rem;
}

input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1f1f1f;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  bottom: 0;
  width: 80%;
  background: #1f1f1f;
  color: white;
  margin-top: 3%;
}

div img {
  width: 60%;
  border-radius: 23px;
}

div h2 {
  font-size: 1.5rem;
  /* word-wrap: break-word; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

/* loader... */

.spinner {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.spinner::before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff00cc 0%, #333399 100%);
  animation: spin8932 0.5s infinite linear;
}

.spinner:after {
  width: 85%;
  height: 85%;
  background-color: #0f0e0e;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin8932 {
  to {
    transform: rotate(360deg);
  }
}

/* ----------------------------- */
/* Card Detail */

.productDetailContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.cardDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}

.cardDetail img {
  width: 30%;
  margin-left: 5%;
}


.cardDetail p {
  font-size: 1rem;
  text-align: center;
}

.cardDetail button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
}

.cardDetail button:hover {
  background: #ff00cc;
}

.cardDetailInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}

/* qty */

.qty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
}

/* product content cart */

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 1rem;
}

.cart h2 {
  font-size: 1.5rem;
  text-align: center;
}

.cart p {
  font-size: 1rem;
  text-align: center;
}

.cart button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
}

.cart button:hover {
  background: #ff00cc;
}

.product {
  display: flex;
}

.product img {
  width: 30%;
  margin-left: 5%;
}

/* succes form */
.succes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.succes-wrapper .succes {
  background-color: #333399;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  border-radius: 2%;
}

.succes-wrapper button {

  width: 300px;
    padding: 3%;
    margin: 0%;
    font-weight: bold;
    background: red;
    border-radius: -1%;
}

/* profile */

.profileHistory {
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 2rem;
}

.profileHistoryItem {
  display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    width: 20%;
    margin-top: 2%;
    border: 1px solid #153462;
    border-radius: 9px;
    padding-left: 2%;
}

/* favourites */

.profileFav {

  display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.profileFavItem {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin-top: 2%;
    border: 1px solid #153462;
    border-radius: 9px;
    padding-left: 2%;
}

/* head */

.containerHead {
  display: flex;
    height: 100vh;
    background-color: antiquewhite;
    width: 93vw;
    padding: 0rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}